*
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

section
{
    margin-top: 6vh;
    padding: 5vw;
    box-sizing: border-box;
    border-radius: 40px;
}

#logoWrapper
{
    height: 8vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;    
}

#logo
{
    background: url("images/pi_bytes.jpg") no-repeat;
    background-size: contain;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

body
{
    background-color: #fffff0;
}

.flexWrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button
{
    border-radius: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
    background-color: rgb(160,160,160);
    flex-grow: 2;
    min-width: calc(50% - 2vw);
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; 
    margin: 1vw;
    padding: 1vw;
}
